.full-profile {
  background-color: hsl(235, 46%, 20%);
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 5%;
  max-height: 800px;
}

.profile-card{
    padding: 3rem;
    background-color: hsl(235, 45%, 61%);
    border-radius: 5%;
}

.profile-card img {
    width: 100px;
    border: 4px solid white;
    border-radius: 50%;
}

.preferences{
    padding: 3rem;
}

.preferences h5:hover {
    color: rgb(170, 162, 162);
    cursor: pointer;
}
