.card-dashboard {
  justify-content: center;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  max-width: 900px;
  gap: 1.5rem;
}

.Work,
.Play,
.Study,
.Exercise,
.Social,
.SelfCare {
  border-radius: 5rem;
}

.Work {
  background: url('../../images/icon-work.svg'), hsl(15, 100%, 70%);
  background-size: 22%, 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: 95% -15%, center;
}


.card-content {
  background-color: hsl(235, 46%, 20%);
  border-radius: 5%;
  padding: 1.5rem;
  min-width: 180px;
  display: flex;
  flex-direction: column;
}

.card-content:hover {
  cursor: pointer;
  background: hsl(237, 35%, 35%);
}


